.input-group{
    gap: 10px;
}
ul {
    list-style-type: none; /* Remove default bullet points */
    padding: 0; /* Remove default padding */
}

.list-group-item{
    /* margin-bottom: 12px; Add margin bottom to create spacing between list items
    gap
     */
     gap: 20px;
     transition: 0.2s ease-in ;
}
.list-group-item:hover{
    background-color: aqua;
}
.icon_size{
    font-size: 30px;
}