.input-group{
    gap: 10px;
}
ul {
    list-style-type: none; /* Remove default bullet points */
    padding: 0; /* Remove default padding */
    gap: 20px;
}

.list-group-item{
    /* margin-bottom: 12px; Add margin bottom to create spacing between list items
    gap
     */
     gap: 0px;
     transition: 0.2s ease-in ;
     cursor: pointer;
}
.list-group-item:hover{
    background-color: aqua !important;
}
.icon_size{
    font-size: 30px;
}
.toast-container {
    right: 0;
    /* transform: translateX(-50%); */
    /* top: 20px; Adjust this value to control the distance from the top */
    z-index: 1050; /* Ensure it's above other content */
}
